<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name> socialnetwork</display-name>
  
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvent</servlet-name>
        <servlet-class>controller.CreateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfile</servlet-name>
        <servlet-class>controller.ChangeProfile</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvent</servlet-name>
        <url-pattern>/CreateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfile</servlet-name>
        <url-pattern>/ChangeProfile</url-pattern>
    </servlet-mapping>

</web-app>